reader/__pycache__/__init__.cpython-310.pyc
reader/__pycache__/forms.cpython-310.pyc
reader/__pycache__/models.cpython-310.pyc
reader/__pycache__/routes.cpython-310.pyc
reader/__pycache__/validator.cpython-310.pyc
__pycache__/scripts.cpython-310.pyc
*.pyc