{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">

<div class="about-content">
    <div id="app-about"></div>
</div>

<script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.11.0/umd/react.development.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.11.0/umd/react-dom.development.js'></script>
<script src="../static/js/about.js"></script>
{% endblock %}