{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='css/authors.css') }}" rel="stylesheet">

<!— Search Box-->
<div id="wrap">
   <form action="" autocomplete="on">
   <input id="search" name="search" type="text" placeholder="Кого будем искать ?"><input id="search_submit" value="Rechercher" type="submit">
   </form>
 </div>

<div class="container mx-auto mt-4">
    <!-- <div class="row"> -->
        <div class="col-md-4">
            {% for author in authors_list.items %}
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('send_file', filename=author.cover) }}" class="card-img" >
                <div class="card-body">
                    <h5 class="card-title">{{author.surname}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{author.first_name + ' ' + author.last_name}}</h6>
                </div>
            </div>
            {% endfor %}
        </div>
    <!-- </div> -->
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js'></script>
{% endblock %}