{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='css/authors.css') }}" rel="stylesheet">

<div class="container mx-auto mt-4">
    <!-- <div class="row"> -->
        <div class="col-md-4">
            
            <div class="card" style="width: 12rem;">
                <img src="../uploads/1-pushkin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Пушкин</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Александр Сергеевич</h6>
                </div>
            </div>
            
            <div class="card" style="width: 12rem;">
                <img src="../uploads/1-pushkin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Пушкин</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Александр Сергеевич</h6>
                </div>
            </div>

            <div class="card" style="width: 12rem;">
                <img src="../uploads/1-pushkin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Пушкин</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Александр Сергеевич</h6>
                </div>
            </div>

            <div class="card" style="width: 12rem;">
                <img src="../uploads/1-pushkin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Пушкин</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Александр Сергеевич</h6>
                </div>
            </div>

            <div class="card" style="width: 12rem;">
                <img src="../uploads/1-pushkin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Пушкин</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Александр Сергеевич</h6>
                </div>
            </div>

            <div class="card" style="width: 12rem;">
                <img src="../uploads/1-pushkin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Пушкин</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Александр Сергеевич</h6>
                </div>
            </div>

        </div>
    <!-- </div> -->
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js'></script>
{% endblock %}