{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/authors.css') }}" rel="stylesheet">

<div class="container">
   <div class="row justify-content-left text-center">
       <div class="col-md-4">
           <div class="dropdown custom-dropdown">
               <a href="#" data-toggle="dropdown" class="align-items-center dropdown-link " aria-haspopup="true"
                   aria-expanded="false" data-offset="-70, 20">
                   Сортировка книг
                   <span class="arrow icon-keyboard_arrow_down"></span>
               </a>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/1"> <span class="icon icon-dashboard"></span>Сначала дешевые</a>
                   <a class="dropdown-item" href="/2"><span class="icon icon-mail_outline"></span>Сначала дорогие</span></a>
                   <a class="dropdown-item" href="/3"><span class="icon icon-dashboard"></span>Высокооценённые</span></a>
                   <a class="dropdown-item" href="/4"><span class="icon icon-mail_outline"></span>Низкооценённые</span></a>
                   <a class="dropdown-item" href="/5"><span class="icon icon-dashboard"></span>По названию, А-Я</span></a>
                   <a class="dropdown-item" href="/6"><span class="icon icon-mail_outline"></span>По названию, Я-А</span></a>
                   <a class="dropdown-item" href="/7"><span class="icon icon-dashboard"></span>Год публикации</span></a>
               </div>
           </div>
       </div>
   </div>
</div>

<div class="container mx-auto mt-4">
    <!-- <div class="row"> -->
    <div class="col-md-4">
        <!--Search Box-->
        <div id="wrap">
            <form action="" autocomplete="on">
                <input id="search" name="search" type="text" placeholder="Что будем искать ?"><input id="search_submit"
                    value="Rechercher" type="submit">
            </form>
        </div>
        {% for book in books_list.items %}
        <div class="card" style="width: 18rem;">
            <div>
                <img src="{{ url_for('send_file', filename=book.cover) }}" class="card-img">
                <div style="padding-left:10px">
                    {% for n in range(book.rating | int) %}
                    <span class="fa fa-star checked" style="color:orange;"></span>
                    {% endfor %}{{book.rating}}
                </div>

            </div>
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{book.description[:40]+'...'}}</h6>
                <a href="{{ url_for('viewbook', book_id=book.book_id) }}" class="btn btn-info">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- </div> -->
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js'></script>
{% endblock %}