{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='css/anim_cards.css') }}" rel="stylesheet">
<div class="content">
  <br><br>
<div class="section_our_solution">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="../uploads/user.png">
            </div>
            <div class="solu_title">
              <h3>Профиль</h3>
            </div>
            <div class="solu_description">
              <p>
                Изменение персональных данных, Например: ФИО, Телефон, Почта, Адрес
              </p>
              <a type="button" class="read_more_btn" href="/profile">Перейти</a>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <svg id="Layer_1" enable-background="new 0 0 512 512" height="50" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg">
                <img src="../uploads/location.png">
            </div>
            <div class="solu_title">
              <h3>Доставка</h3>
            </div>
            <div class="solu_description">
              <p>
                Информация о доставках товаров
              </p>
              <a type="button" class="read_more_btn" href="/delivery">Перейти</a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="solution_cards_box sol_card_top_3">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="../uploads/historybuy.png">
            </div>
            <div class="solu_title">
              <h3>История покупок</h3>
            </div>
            <div class="solu_description">
              <p>
                Просмотр раннее купленных книг
              </p>
              <a type="button" class="read_more_btn" href="/historybuy">Перейти</a>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="../uploads/preference.png">
            </div>
            <div class="solu_title">
              <h3>Настройки</h3>
            </div>
            <div class="solu_description">
              <p>
                Управление уведомлениями, язык интерфейса, сменить тему и т.п.
              </p>
              <a type="button" class="read_more_btn" href="/preference">Перейти</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js'></script>
{% endblock %}