{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='css/profile_user.css') }}" rel="stylesheet">

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            <span class="font-weight-bold">{{ user.first_name }}</span>
            <span class="text-black-50">{{ user.email }}</span><span>
            </span></div>
        </div>
        <div class="col-md-5 border-right">
            <form class="p-3 py-5" method="POST" action="" name="" enctype="multipart/form-data">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Настройки профиля</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Имя</label><input name="first_name" type="text" class="form-control" value="{{ user.first_name }}"></div>
                    <div class="col-md-6"><label class="labels">Фамилия</label><input name="surname" type="text" class="form-control" value="{{ user.surname }}"></div>
                    <div class="col-md-6"><label class="labels">Отчество</label><input name="last_name" type="text" class="form-control" value="{{ user.last_name }}" ></div>
                </div>
                <div class="row mt-3">
                    
                    <div class="col-md-12"><label class="labels">Мобильный телефон</label><input name="phone" type="text" class="form-control" value="{{ user.phone }}"></div>
                    <div class="col-md-12"><label class="labels">Последняя активность</label><input type="datetime" class="form-control" value="{{ user.last_logon }}" disabled></div>
                    <div class="col-md-12"><label class="labels">Почтовый индекс</label><input name="zipcode" type="text" class="form-control" value="{{ user.zipcode }}"></div>
                    <div class="col-md-12"><label class="labels">Адрес</label><input name="address" type="text" class="form-control" value="{{ user.address }}"></div>
                    <div class="col-md-12"><label class="labels">Почта</label><input type="email" class="form-control" value="{{ user.email }}" disabled></div>
                    <div class="col-md-12"><label class="labels">Логин</label><input name="login" type="text" class="form-control" value="{{ user.login }}" ></div>
                    <div class="col-md-12"><label class="labels">Пароль</label><input name="password" type="password" class="form-control" value="{{ user.password }}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Пользователь</label><input name="" type="text" class="form-control" value="{{ user.UserType }}" value="" disabled></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Сохранить изменения</button></div>
            </form>
        </div>
        {% if user.UserType in 'Admin' %}
        <div class="col-md-4">
            <div class="p-3 py-5">
                <h4 class="text-left">Админ. Панель</h4>
                <div class="d-flex justify-content-between align-items-center experience"><span>Управление складом</span><a href="/admin-sklad"><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Join</span></div><br></a>
                <div class="d-flex justify-content-between align-items-center experience"><span>Управление пользователями</span><a href="/admin-users"><span class="border px-3 p-1 add-experience"><i class="fa fa-plus" ></i>&nbsp;Join</span></div><br></a>
                <div class="d-flex justify-content-between align-items-center experience"><span>Управление авторами</span><a href="/admin-authors"><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Join</span></div><br></a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.11.0/umd/react.development.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.11.0/umd/react-dom.development.js'></script>
{% endblock %}