{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/viewbook.css') }}" rel="stylesheet">

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{ url_for('send_file', filename=book.cover) }}" alt=""/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                        <h5>
                            {{ book.title }}
                        </h5>
                        <h6>
                            {{ genre }}
                        </h6>
                        <p class="proile-rating">Рейтинг:
                            {% for i in range(rating_int) %}
                                <i class="fa fa-star" style="color:#FF6600"></i>
                            {% endfor %}
                            
                            {{ book.rating }}
                        </p>
                        <i style="font-weight: bold;">Цена: {{ book.price }} ₽</i>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Информация</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <a href="" class="btn btn-info">Купить</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>Ссылки</p>
                <a href="">Книги</a><br/>
                <a href="">Авторы</a><br/>
                <a href="">Жанры</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        {{ book.description }}
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Рейтинг</label>
                        </div>
                        <div class="col-md-6">
                                {% for i in range(rating_int) %}
                                    <i class="fa fa-star" style="color:#FF6600"></i>
                                {% endfor %}
                                {{ book.rating }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>В наличии</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ book.count }} шт.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Год издания</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ book.year_publication }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Вес книги</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ book.weight }} г.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Количество страниц</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ book.page_count }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Библио-текст</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ book.library_text }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Аффиляция</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ book.affinity }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Издательство</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ publish }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Тип</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ type }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>         
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js'></script>
{% endblock %}   