.form-control:focus {
    box-shadow: none;
    border-color: #63c0ff
}

.profile-button {
    background: #0099ff;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #0099ff
}

.profile-button:focus {
    background: #0099ff;
    box-shadow: none
}

.profile-button:active {
    background: #0099ff;
    box-shadow: none
}

.back:hover {
    color: #0099ff;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #0099ff;
    color: #fff;
    cursor: pointer;
    border: solid 1px #0099ff
}